@import '../../assets/variables.scss';

.resume-container {
    background-color: $character-card-bg;
    padding: 0 16rem;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0% 100%);

    img {
        max-width: 320px;
        height: 320px;
        object-fit: cover;
    }

    .resume-info-container {
        color: $character-text-color;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        flex-wrap: wrap;
        width: 100%;

        .resume-title-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        p {
            text-transform: none;
        }


    }
}

@media only screen and (max-width: 1200px) {
    .resume-container {
        padding: 0;

        .resume-info-container {
            padding: 0 2rem;
        }
    }
}


@media only screen and (max-width: 670px) {
    .resume-container {
        flex-direction: column;

        img {
            max-width: 100vh;
            height: auto;
            object-fit: cover;
        }

        .resume-info-container {
            width: auto;
            padding: 1.5rem;

            h2 {
                font-size: $mobile-resume-title-size;
            }

            p {
                text-wrap: wrap;
            }
        }
    }
}