.detail-view {

    .layout-inner-container {
        padding: 0;
        text-transform: uppercase;
    }

    .detail-inner-container {
        padding: 1.5rem 16rem;

        .cards-list-container {
            display: flex;
            justify-content: left;
            overflow-y: hidden;
            overflow-x: scroll;
            padding-bottom: 1.5rem;

            &::-webkit-scrollbar {
                height: 4px;
            }

            &::-webkit-scrollbar-track {
                background: #D9D9D9;
            }

            &::-webkit-scrollbar-thumb {
                background: #EC1D24;
            }

        }
    }

}

@media only screen and (max-width: 1200px) {
    .detail-view {
        .detail-inner-container {
            padding: 3rem 0 3rem 3rem;
        }
    }
}


@media only screen and (max-width: 670px) {
    .detail-view {
        .detail-inner-container {
            padding: 2rem 0 2rem 1rem;
        }
    }
}