.layout-container {
    padding-top: 75px;
}


.layout-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    line-height: 2rem;
    padding-bottom: 1.5rem;
}

.layout-inner-container {
    padding: 3rem;
    text-transform: uppercase;
}