@import '../../assets/variables.scss';

.layout-container {
    padding-top: 75px;
}


.layout-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $views-title-size;
    line-height: 2rem;
    padding-bottom: 1.5rem;
}

.layout-inner-container {
    padding: 3rem;
    text-transform: uppercase;
}



@media only screen and (max-width: 670px) {

    .layout-inner-container {
        padding: 2.5rem 1rem;
    }

    .layout-title {
        font-size: $mobile-views-title-size;
    }
}