.card-container {
    width: fit-content;
    display: flex;
    flex-direction: column;



    .card-inner-container {
        display: flex;
        flex-direction: column;

        .card-rectangle {
            background-color: #EC1D24;
            height: 5px;
            width: 100%;
        }

        .card-info-container {
            display: flex;
            justify-content: space-between;
            background-color: black;
            padding: 1.5rem 1rem;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%);

            &::before {
                content: '';
                position: fixed;
                left: 0;
                top: 0;


                width: 100%;
                height: 5px;
                background-color: #EC1D24;
                transition: height 1.25s ease-out;
            }

            &:hover::before {
                height: 100%;
            }

            &:hover {
                img {}
            }

            img {
                z-index: 2;

                element.style {
                    fill: blue;
                }
            }



            h3 {
                color: white;
                font-size: 0.875em;
                z-index: 2;
            }
        }
    }
}