//Colors
$marvel-red: #EC1D24;
$black: #000;
$white: #FFF;

$body-bg: $white;
$character-card-bg: $black;
$character-text-color: $white;
$comic-card-bg: $white;
$comic-text-color: $black;

//Sizes
$views-title-size: 2em;
$mobile-views-title-size: 1.5em;

$resume-title-size: 1em;
$mobile-resume-title-size: 2em;