//Colors
$marvel-red: #EC1D24;
$black: #000;
$white: #FFF;

$primary-color: $marvel-red;

$body-bg: $white;

$header-bg: $black;
$header-text-color: $white;

$character-card-bg: $black;
$character-text-color: $white;

$comic-card-bg: $white;
$comic-text-color: $black;
$scroll-bar-bg: #D9D9D9;

//Sizes
$views-title-size: 2em;
$mobile-views-title-size: 1.5em;

$resume-title-size: 1em;
$mobile-resume-title-size: 2em;