.cards-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 1rem;

}

@media only screen and (max-width: 670px) {
    .cards-list-container {
        gap: 0.5rem;
    }
}